body {
	font-family: 'Open Sans', sans-serif !important;
	background-color: #181E25 !important;
	color: white !important;
}

.navbar-custom {
	background-color: #181E25;
}

.navbar > li > .dropdown-menu {
	background-color: #181E25;
	font-size: 23px;
}

.dropdown-menu a:hover {background-color: #060a03;}

li {
	list-style-type: none;
}

.navbar-logo {
	padding: 0 0 0 30px;
}

.dropdown-menu a{
    color: #FFFFFF !important;
	padding: 20px 100px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.dropdown-toggle::after, .dropdown-toggle::before {
    content: none;
}

.image-box {
	display: grid;
    height: 100%;
	width: 100%;
}

.front-page-image {
	max-width: 100%;
    margin: auto;
}

h1 {
	text-align: center;
}

.centered {
	position: absolute;
	text-align: center;
	top: 20%;
	left: 15%;
	font-family: 'Open Sans', sans-serif !important;
	color: white !important;
	font-size: 100px !important;
}

.text-lime {
	color: #3bdd92;
	font-family: 'Open Sans', sans-serif !important;
}

.front-page-subtitle {
	font-family: 'Open Sans', sans-serif !important;
	color: white !important;
	font-size: 70px !important;

}

.button {
	border: none;
	font-family: 'Open Sans', sans-serif !important;
  color: black;
  padding: 15px 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #3bdd92;
  border-radius: 10px;
}
