body {
	font-family: 'Open Sans', sans-serif !important;
	background-color: #181E25 !important;
	color: white !important;
}

.navbar-custom {
	background-color: #181E25;
}

.navbar > li > .dropdown-menu {
	background-color: #181E25;
	font-size: 23px;
}

.dropdown-menu a:hover {background-color: #060a03;}

li {
	list-style-type: none;
}

.navbar-logo {
	padding: 0 0 0 30px;
}

.dropdown-menu a{
    color: #FFFFFF !important;
	padding: 20px 100px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.dropdown-toggle::after, .dropdown-toggle::before {
    content: none;
}

.image-box {
	display: grid;
	position: relative;
    height: 45vw;
	width: 100%;
    overflow: hidden;

}

.front-page-image {
	max-width: 100%;
    margin: auto;
	display: grid;
    height: 100%;
	width: 100%;
}

.image {
	max-width: 100%;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 3vw !important;
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700 !important;
}

.centered {
	position: absolute;
	text-align: center;
	top: 12%;
	font-family: 'Open Sans', sans-serif !important;
	color: white !important;
	font-size: 4vw !important;
	font-weight: 700;
}

.text-lime {
	color: #3bdd92;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 4vw !important;
	font-weight: 700;
}

.pros {
	color: #3bdd92;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 2.5vw !important;
	font-weight: 700;
}

.pros-desc {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 1.5vw !important;

}

.center-align {
	text-align: center;
}

.subtitle-text-lime {
	color: #3bdd92;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 3.5vw !important;
	font-weight: 700;
}

.front-page-subtitle {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 700;
	color: white !important;
	font-size: 3.5vw !important;

}

.button-sign-me-up {
	border: none;
	width: 20%;
	font-family: 'Open Sans', sans-serif !important;
	color: black;
	padding: 1vw 2vw;
	text-align: center;
	display: inline-block;
	font-size: 1.5vw;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #3bdd92;
	border-radius: 10px;
	font-weight: 700;
}

.button-tell-me-more {
	border: none;
	width: 30%;
	font-family: 'Open Sans', sans-serif !important;
	color: black;
	padding: 0.7vw 1.2vw;
	text-align: center;
	display: inline-block;
	font-size: 1.2vw;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #3bdd92;
	border-radius: 10px;
	font-weight: 700;
}

.container-img {
	object-fit: cover !important;
	height: 90% !important;
	width: 100vw;
	padding: 0.5vw 1.5vw !important;
}

.img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #FF0000;
}

.cont-over:hover .img-overlay{
	opacity: 1;
}



.second-container-image {
	max-width: 100%;
    margin: auto;
	display: grid;
	width: 100%;
	overflow: hidden;
	margin: -300px 0 0 0;

}

.crop {
    width: 100%;
	display: grid;
	margin: auto;
    height: 700px;
    overflow: hidden;
}


.centered-2 {
	position: absolute;
	text-align: center;
	top: 7%;
	font-family: 'Open Sans', sans-serif !important;
	color: white !important;
	font-size: 2.5vw !important;
	font-weight: 700;
}


.text-lime-second-container {
	color: #3bdd92;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 2.5vw !important;
	font-weight: 700;
}

.user {
	width: 7vw;
}

.opinion {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 1.7vw !important;
	margin: 0 !important;
	padding: 0 !important;
	line-height: 150% !important;
}

.opinion-lime {
	color: #3bdd92;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 1.7vw !important;
	line-height: 150% !important;
}

.logo-bottom {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.social-media-logo {
	width: 3vw;
}

.hlink {
	color: white;
}

.hlink:hover {
	color: #3bdd92;
	text-decoration: none;
}


.image-box-2 {
	display: grid;
	position: relative;
    height: 40vw;
	width: 100%;
    overflow: hidden;

}
